@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";

    --background: 34 40% 12%;
    --foreground: 39 29% 68%;

    --muted: 34 25% 17%;
    --muted-foreground: 39 15% 48%;

    --popover: 34 40% 12%;
    --popover-foreground: 39 29% 68%;

    --border: 34 28% 25%;
    --input: 34 28% 25%;

    --card: 34 25% 17%;
    --card-foreground: 39 29% 68%;

    --primary: 46 100% 50%;
    --primary-foreground: 34 40% 12%;

    --secondary: 39 43% 47%;
    --secondary-foreground: 34 40% 12%;

    --accent: 34 28% 25%;
    --accent-foreground: 39 29% 68%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 34 28% 25%;

    --radius: 0.5rem;

    --wow-randomizing: #8bc34a;
  }

  .dark {
    --background: 34 40% 12%;
    --foreground: 39 29% 68%;

    --muted: 34 25% 17%;
    --muted-foreground: 39 15% 48%;

    --accent: 34 28% 25%;
    --accent-foreground: 39 29% 68%;

    --popover: 34 40% 12%;
    --popover-foreground: 39 29% 68%;

    --border: 34 28% 25%;
    --input: 34 28% 25%;

    --card: 34 25% 17%;
    --card-foreground: 39 29% 68%;

    --primary: 46 100% 50%;
    --primary-foreground: 34 40% 12%;

    --secondary: 39 43% 47%;
    --secondary-foreground: 34 40% 12%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 34 28% 25%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
